/* styles.css */

/* Estilo base para la página */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: auto;
}

/* Contenedor de productos */
.productos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
}

/* Estilo para cada producto */
.producto {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px; /* Ajusta este valor para hacer el contenedor más cuadrado */
    transition: transform 0.2s ease;
    overflow: hidden; /* Ocultar el contenido desbordante */
}

.producto:hover {
    transform: scale(1.05);
}

/* Estilo para las imágenes */
.producto img {
    max-width: 100%;
    max-height: 150px; /* Ajusta este valor según sea necesario */
    object-fit: cover; /* Mantener la proporción y ajustar al contenedor */
    border-radius: 8px; /* Mantener bordes redondeados */
    margin-bottom: 10px;
}

.producto h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.producto span {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

/* Media Queries para ajustar el diseño en diferentes tamaños de pantalla */
@media (max-width: 768px) {
    .container {
        padding-top: 50px; /* Ajusta este valor para mover los productos hacia abajo */
    }

    .productos-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .producto {
        height: 200px; /* Ajusta este valor según sea necesario */
    }
}

@media (max-width: 480px) {
    .productos-container {
        grid-template-columns: 1fr;
    }

    .producto {
        height: 150px; /* Ajusta este valor según sea necesario */
    }

    .producto img {
        max-height: 100px; /* Ajusta este valor según sea necesario para pantallas pequeñas */
    }
}


